In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("kaggle_dataset").getOrCreate()
spark

In [5]:
df_test3=spark.read.csv('test3.csv',header=True)
df_test3.show(truncate=False)

+--------+-------------------------------+----------+----------+
|Name    |Email                          |Phone     |Address   |
+--------+-------------------------------+----------+----------+
|Shayan  |shayansaha.work@gmail.com      |9774162637|Aralia    |
|Supratim|supratim.agt24@gmail.com       |8131029549|Indranagar|
|Tanmoy  |tanmoy@efsolit.com             |7005638830|Dhaleswar |
|Rohan   |rohan@efsolit.com              |7978675129|Chandrapur|
|Pranjit |pranjitchowdhury.work@gmail.com|9366721069|Jolaibari |
|Samrat  |gsamrat97@gmail.com            |9366065859|Kashipur  |
+--------+-------------------------------+----------+----------+

In [6]:
df_test3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Address: string (nullable = true)

In [7]:
type(df_test3)

pyspark.sql.dataframe.DataFrame

In [9]:
df_test3.head(3)

[Row(Name='Shayan', Email='shayansaha.work@gmail.com', Phone='9774162637', Address='Aralia'),
 Row(Name='Supratim', Email='supratim.agt24@gmail.com', Phone='8131029549', Address='Indranagar'),
 Row(Name='Tanmoy', Email='tanmoy@efsolit.com', Phone='7005638830', Address='Dhaleswar')]

In [10]:
df_test3_names=df_test3.select('Name')
df_test3_names.show()

+--------+
|    Name|
+--------+
|  Shayan|
|Supratim|
|  Tanmoy|
|   Rohan|
| Pranjit|
|  Samrat|
+--------+

In [12]:
df_test3_promotionDetails=df_test3.select(['Email','Phone'])
df_test3_promotionDetails.show(truncate=False)

+-------------------------------+----------+
|Email                          |Phone     |
+-------------------------------+----------+
|shayansaha.work@gmail.com      |9774162637|
|supratim.agt24@gmail.com       |8131029549|
|tanmoy@efsolit.com             |7005638830|
|rohan@efsolit.com              |7978675129|
|pranjitchowdhury.work@gmail.com|9366721069|
|gsamrat97@gmail.com            |9366065859|
+-------------------------------+----------+

In [13]:
df_test3.dtypes

[('Name', 'string'),
 ('Email', 'string'),
 ('Phone', 'string'),
 ('Address', 'string')]

In [14]:
df_test3.describe()

DataFrame[summary: string, Name: string, Email: string, Phone: string, Address: string]

In [15]:
df_test3.describe().show()

+-------+-------+-------------------+--------------------+--------+
|summary|   Name|              Email|               Phone| Address|
+-------+-------+-------------------+--------------------+--------+
|  count|      6|                  6|                   6|       6|
|   mean|   null|               null| 8.603715512166666E9|    null|
| stddev|   null|               null|1.0678256960342188E9|    null|
|    min|Pranjit|gsamrat97@gmail.com|          7005638830|  Aralia|
|    max| Tanmoy| tanmoy@efsolit.com|          9774162637|Kashipur|
+-------+-------+-------------------+--------------------+--------+

In [17]:
df_test3.show(truncate=False)

+--------+-------------------------------+----------+----------+
|Name    |Email                          |Phone     |Address   |
+--------+-------------------------------+----------+----------+
|Shayan  |shayansaha.work@gmail.com      |9774162637|Aralia    |
|Supratim|supratim.agt24@gmail.com       |8131029549|Indranagar|
|Tanmoy  |tanmoy@efsolit.com             |7005638830|Dhaleswar |
|Rohan   |rohan@efsolit.com              |7978675129|Chandrapur|
|Pranjit |pranjitchowdhury.work@gmail.com|9366721069|Jolaibari |
|Samrat  |gsamrat97@gmail.com            |9366065859|Kashipur  |
+--------+-------------------------------+----------+----------+

In [29]:
df_test3_domains=df_test3.withColumn('Phone with country code', df_test3['Phone']+'+91')
df_test3_domains.show(truncate=False)

+--------+-------------------------------+----------+----------+-----------------------+
|Name    |Email                          |Phone     |Address   |Phone with country code|
+--------+-------------------------------+----------+----------+-----------------------+
|Shayan  |shayansaha.work@gmail.com      |9774162637|Aralia    |9.774162728E9          |
|Supratim|supratim.agt24@gmail.com       |8131029549|Indranagar|8.13102964E9           |
|Tanmoy  |tanmoy@efsolit.com             |7005638830|Dhaleswar |7.005638921E9          |
|Rohan   |rohan@efsolit.com              |7978675129|Chandrapur|7.97867522E9           |
|Pranjit |pranjitchowdhury.work@gmail.com|9366721069|Jolaibari |9.36672116E9           |
|Samrat  |gsamrat97@gmail.com            |9366065859|Kashipur  |9.36606595E9           |
+--------+-------------------------------+----------+----------+-----------------------+

In [32]:
df_test3_domains=df_test3_domains.drop('Phone with country code')

In [33]:
df_test3_domains.show()

+--------+--------------------+----------+----------+
|    Name|               Email|     Phone|   Address|
+--------+--------------------+----------+----------+
|  Shayan|shayansaha.work@g...|9774162637|    Aralia|
|Supratim|supratim.agt24@gm...|8131029549|Indranagar|
|  Tanmoy|  tanmoy@efsolit.com|7005638830| Dhaleswar|
|   Rohan|   rohan@efsolit.com|7978675129|Chandrapur|
| Pranjit|pranjitchowdhury....|9366721069| Jolaibari|
|  Samrat| gsamrat97@gmail.com|9366065859|  Kashipur|
+--------+--------------------+----------+----------+

In [34]:
df_test3_firstname=df_test3.withColumnRenamed('Name','Firstname')
df_test3_firstname.show()

+---------+--------------------+----------+----------+
|Firstname|               Email|     Phone|   Address|
+---------+--------------------+----------+----------+
|   Shayan|shayansaha.work@g...|9774162637|    Aralia|
| Supratim|supratim.agt24@gm...|8131029549|Indranagar|
|   Tanmoy|  tanmoy@efsolit.com|7005638830| Dhaleswar|
|    Rohan|   rohan@efsolit.com|7978675129|Chandrapur|
|  Pranjit|pranjitchowdhury....|9366721069| Jolaibari|
|   Samrat| gsamrat97@gmail.com|9366065859|  Kashipur|
+---------+--------------------+----------+----------+