In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Session1').getOrCreate()

In [6]:
spark

In [11]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [12]:
df_pyspark.show()

+---------+---+
|     name|age|
+---------+---+
|   shayan| 23|
|  pranjit| 24|
| supratim| 25|
|   samrat| 22|
|   tanmoy| 23|
|dwiprahar| 25|
| prasanta| 23|
|  arindam| 24|
|    rohan| 27|
|   partha| 33|
|    suraj| 36|
+---------+---+

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame