In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice4').getOrCreate()
spark

In [2]:
df_test6=spark.read.csv('test6.csv',header=True,inferSchema=True)
df_test6.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [3]:
df_test6.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [6]:
# group by operation
# group to find combined salary

df_test6.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [15]:
df_test6.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [7]:
# group by departments
df_test6.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [16]:
df_test6.groupBy('Departments').min().show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

In [9]:
df_test6.groupBy('Name').mean().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [13]:
df_number_of_emp=df_test6.groupBy('Departments').count()
df_number_of_emp=df_number_of_emp.withColumnRenamed('count','No. of employees')
df_number_of_emp.show()

+------------+----------------+
| Departments|No. of employees|
+------------+----------------+
|         IOT|               2|
|    Big Data|               4|
|Data Science|               4|
+------------+----------------+

In [14]:
# aggregate
df_test6.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+