**Topic**
- Filter Operation
- &,|,==
- ~

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Practice3").getOrCreate()
spark

In [2]:
df_test5=spark.read.csv('test5.csv',header=True,inferSchema=True)
df_test5.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Shayan| 31|        10| 30000|
|  Pranjit| 30|         8| 25000|
|Dwiprahar| 29|         4| 20000|
|   Samrat| 24|         3| 20000|
| Prasanta| 21|         1| 15000|
|   Tanmoy| 23|         2| 18000|
+---------+---+----------+------+

# filter operation

In [3]:
# salary of people <= 20000
df_test5.filter("Salary<=20000").show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Dwiprahar| 29|         4| 20000|
|   Samrat| 24|         3| 20000|
| Prasanta| 21|         1| 15000|
|   Tanmoy| 23|         2| 18000|
+---------+---+----------+------+

In [4]:
df_test5.filter("Salary<=20000").select(['Name','Age']).show()

+---------+---+
|     Name|Age|
+---------+---+
|Dwiprahar| 29|
|   Samrat| 24|
| Prasanta| 21|
|   Tanmoy| 23|
+---------+---+

In [7]:
df_test5.filter((df_test5['Salary']<=20000) | (df_test5['Salary']>=15000)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Shayan| 31|        10| 30000|
|  Pranjit| 30|         8| 25000|
|Dwiprahar| 29|         4| 20000|
|   Samrat| 24|         3| 20000|
| Prasanta| 21|         1| 15000|
|   Tanmoy| 23|         2| 18000|
+---------+---+----------+------+

In [8]:
df_test5.filter(~(df_test5['Salary']<=20000)).show() # inversing condition

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Shayan| 31|        10| 30000|
|Pranjit| 30|         8| 25000|
+-------+---+----------+------+